@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}
.container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 200px;

  background-color: aliceblue;
  padding: 20px;
}
.card {
  height: 100%;
}
.fa-xxx {
  display: flex;
  justify-content: end;
}
.one {
  padding: 5px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}
.one:hover {
  transition: all 0.3s;
  i {
    color: white;
  }
  background-color: rgb(112, 112, 233);

  border-radius: 3px;
  p {
    color: white;
  }
}
.social {
  margin-top: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
button {
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgb(112, 112, 233);
  cursor: pointer;
  padding: 7px;
  width: 100%;
  transition: all 0.3s linear;
}
button:hover {
  background-color: rgb(139, 139, 224);
}

.btn {
  margin: 15px 0px;
}
.second {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
p {
  margin-left: 15px;
  font-size: 12px;
}
i {
  color: rgb(165, 160, 160);
}
i:hover {
  cursor: pointer;
  color: rgb(112, 112, 233);
}
